*{
	padding right: 0%;
	font-family: source code pro,monospace;
	color: white;

	
}
body{
	background:url();
	padding-top: 5rem;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	opacity: .75;
	position: scroll;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("images/bg.jpg");

}


.portfolio{

	text-align: left;
	font-family: source code pro;
	padding: 5px;
	margin: 5px;
	


}
.shiela{
	width: 20%;
	height: auto;
	border-radius: 75px;
	padding-left: 5px;
	

}

img{

  width:80%;
  height: auto;
  border-radius: 5px;
  padding-left: 5px;

  
}

.container-fluid{
	padding: 4px;
	margin:  5rem;
	background: #22223B;

}

.about-me{
	text-align: justify;
	padding: 5px;
	align-content: center;
	background: #22223B;

}
.jumbotron{
	width: 500px;
	text-align: center;
	align-content: center;
	background-color: transparent;
	margin: auto;

}

.photos{
	width: 90%;
	text-align: center;
	align-content: center;
	background-color: dark;
}
.skills{

	padding: 5px;
	margin: 5px;
	background: #22223B;
	border: black;
	padding-bottom: 5px;
	margin-top: 5em;
	color: white;
}
.contactme{
	border: black;
	width: auto;
	align-content: center;

}
#gmap_canvas{
  height: 60vh;
  width:100%;
  background: #22223B;
}
.carousel{
	padding-bottom: 5px;
}
.contacthead{
	text-align: center;
	color: rgb(218, 236, 232, / 90%);
	font-weight: 600;
}
.navbar-brand{
	color: white;
}


} 
.navbarNav{
	background: white;
}
.nav-link{
	color: white;
}
footer{
    bottom: center;
    width: 100%;
    text-align: center;
}



