*{
	padding right: 0%;
	font-family: source code pro;
	background: #D5C6E0;
}
.portfolio{

	text-align: left;
	font-family: source code pro;
	padding: 5px;
	margin: 5px;
	background: #D5C6E0;


}
img {

  width: 20%;
  height: auto;
  border-radius: 75px;
  padding-left: 5px;
  background: #D5C6E0;
  
}

.container-fluid{
	padding: 4px;
	margin:  5px;
	background: #D5C6E0;
}

.about-me{
	text-align: justify;
	padding: 5px;
	align-content: center;
	background: #D5C6E0;

}
.jumbotron{
	width: 500px;
	text-align: center;
	align-content: center;
	background: #D5C6E0;

}

.photos{
	width: 90%;
	text-align: center;
	align-content: center;
	background-color: dark;
}
.skills{

	padding: 5px;
	margin: 5px;
	background: #F5E6E8;
	border: black;
}
.contactme{
	background-color: white;
	border: black;
	width: 300px;
	align-content: left;
}
.footer{
	background: lightpink;
	text-align: center;
}